@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
  --fontsize: 2.0rem;
  --svgfill: #7f004f;
  --svgstroke: #ff8faf;
  --xToken: "X";
  --oToken: "O";
  --token: var(--xToken);
  --col00: #020214;
  --col01: #121224;
  --col02: #242448;
  --col03: #444468;
  --col04: #646488;
  --col05: #ffbfdf;
  --col06: #cfefff;
  --col07: #ffdfef;
  --col08: #2f4f8f;
  --col09: #8f2f4f;
  --col10: #ffdf7f;
  --col11: #ffbfdf;
  --col12: #bf3f9f;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
}
body {
  height: 100vh;
  background-color: var(--col01);
  color: var(--col05);
  font-family: "Megrim", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 6px var(--col07);
}
header,
nav,
main,
footer {
  width: 99.0%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 2;
  background-color: var(--col01);
}
header > div {
  width: 100%;
  margin: 0 auto;
}
svg {
  display: block;
  margin: 0 auto;
  width: 39.45rem;
  height: 8.35rem;
  cursor: pointer;
}

nav {
  position: relative;
  top: -9.1rem;
  z-index: 1;
  height: 9.2rem;
  background-color: var(--col01);
  padding-bottom: 0.75rem;
  margin-bottom: 1.0rem;
  border-bottom: 2px ridge var(--col01);
  transition: all 500ms ease-in-out;
}
nav.open {
  top: 0;
}
#toggler {
  position: absolute;
  left: calc(50% - 1.0rem);
  bottom: -0.75rem;
  width: 2.0rem;
  height: 0.7rem;
  text-align: center;
  line-height: 0;
  background-color: var(--col02);
  color: var(--col05);
  border-top: none;
  border-left: 1px outset var(--col01);
  border-right: 1px inset var(--col01);
  border-bottom: 2px ridge var(--col01);
  border-bottom-left-radius: 40% 20px;
  border-bottom-right-radius: 40% 20px;
  cursor: pointer;
}
#settings {
  display: grid;
  grid-template-columns: 0.65fr 1fr 0.75fr;
  column-gap: 1.0rem;
}
fieldset {
  position: relative;
  border: 2px groove var(--col01);
  display: grid;
}
legend {
  position: absolute;
  right: 0.3rem;
  bottom: -0.65rem;
  padding: 0 0.25rem;
  background-color: var(--col01);
}
input {
  max-width: 200px;
}
#settings fieldset:first-of-type {
  align-content: center;
}
#settings fieldset:first-of-type label {
  font-size: 3.5rem;
  text-shadow: 0 0 16px var(--col07);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items:center;
  align-items: center;
}
#settings fieldset:first-of-type input {
  position: relative;
  appearance: none;
  width: 3.0rem;
  height: 1.6rem;
  margin-right: 0.5rem;
  border: 2px inset var(--col02);
}
#settings fieldset:first-of-type input::before {
  position: absolute;
  top: 0.55rem;
  left: 0.37rem;
  content: "";
  width: 2.0rem;
  height: 0.3rem;
  background-color: var(--col00);
  border: 2px inset var(--col01) ;
}
#settings fieldset:first-of-type input::after {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "\25c0";
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--col09);
  color: var(--col07);
  text-align: center;
  border: 2px outset var(--col05);
  border-radius: 3px;
  box-shadow: 6px 0 4px var(--col00);
  transition: all 500ms ease;
}
#settings fieldset:first-of-type input:checked::after {
  transform: translateX(1.5rem);
  content: "\25b6";
  box-shadow: -6px 0 4px var(--col00);
}
#settings fieldset:nth-of-type(2) {
  padding: 0.5rem 0.75rem 1.0rem;
}
#settings fieldset:nth-of-type(2) label {
  font-size: 0.8rem;
}
#settings fieldset:nth-of-type(2) input {
  font-size: 1.0rem;
  background-color: var(--col08);
  color: var(--col07);
  border: 1px inset var(--col05);
  padding-left: 0.2rem;
}
#settings fieldset:nth-of-type(2) label ~ input {
  margin-bottom: 1rem;
}
#settings fieldset:nth-of-type(2) input:focus {
  outline: 1px solid var(--col06);
  outline-offset: 1px;
}
#player2 {
  transition: opacity 500ms ease-out;
}
#player2:disabled {
  opacity: 0.35;
}
#difficulty {
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  align-content: space-evenly;
  transition: opacity 500ms ease-out;
}
#difficulty:disabled {
  opacity: 0.45;
}
#difficulty label {
  grid-column: 2 / 3;
  align-self: center;
}
#level {
  position: relative;
  grid-row: 1 / 3;
  align-self: center;
  appearance: none;
  width: 1.81rem;
  height: 5.0rem;
  margin: 0 0.5rem;
  border: 2px inset var(--col01)
}
#level::before {
  position: absolute;
  top: 0.6rem;
  left: 0.65rem;
  content: "";
  width: 0.3rem;
  height: 3.5rem;
  background-color: var(--col00);
  border: 2px inset var(--col01) ;
}
#level::after {
  position: absolute;
  content: "\1f984";
  top: 0.05rem;
  left: 0.05rem;
  width:1.5rem;
  height: 1.5rem;
  background-color: var(--col09);
  color: var(--col07);
  border: 2px outset var(--col05);
  border-radius: 3px;
  box-shadow: 0 6px 4px var(--col00);
  font-size: 1.0rem;
  transition: all 500ms ease;
}
#level:checked::after {
  transform: translateY(3.15rem);
  content: "\1f47b";
  box-shadow: 0 -6px 4px var(--col00);
}

main {
  position: relative;
  top: -9.1rem;
  display: grid;
}
#scoring {
  background-color: var(--col00);
  height: 8.0rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  text-align: center;
  font-size: 2.0rem;
  margin-bottom: 2.0rem;
}
.scoring,
#message {
  border: 2px inset var(--col03);
}
#message {
  grid-column: 1 / 3;
  font-style: italic;
  color: var(--col10);
}
#game-board {
  background-color: var(--col00);
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem
}
#game-board button {
  width: 8.0rem;
  height: 8.0rem;
  font-size: 6.0rem;
  background-color: var(--col02);
  border: 3px outset var(--col03);
  cursor: pointer;
}
#game-board button:disabled {
  opacity: 0.25;
  cursor: default;
}
#game-board button:not([disabled]):not([data-token='X']):not([data-token='O']):hover {
  background-color: var(--col04);
}
#game-board button:not([disabled]):not([data-token='X']):not([data-token='O']):hover::before {
  content: var(--token);
  color: var(--col03);
}

#game-board button:not([disabled])[data-token='X'] {
  color: var(--col06);
  text-shadow: 3px 3px 2px var(--col08);
}
#game-board button:not([disabled])[data-token='O'] {
  color: var(--col07);
  text-shadow: 3px 3px 2px var(--col09);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
footer p {
  text-align: center;
}
footer a:link {
  color: var(--col10);
  text-underline-offset: 0.25rem;
}
footer a:visited {
  color: var(--col11);
}
footer a:hover {
  color: var(--col12);
}

.modal {
  width: 16.0rem;
  height: 10.0rem;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: 1;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fontsize);
  font-weight: bold;
  background-color: var(--svgfill);
  color: var(--col10);
  border: 1px solid var(--col05);
  border-radius: 50%;
  box-shadow: 0 0 4.0rem 1.0rem var(--col10),
       inset -4px -4px 1.0rem var(--col10);
  transform: scale(0%);
  transition: all 500ms ease-in-out;
}
.modal.show {
  top: 50%;
  left: calc(50% - 8.0rem);
  transform: scale(100%);
            }
@media screen and (max-width: 959px) {
  #settings {
    grid-template-columns: 75%;
    grid-template-rows: auto;
    gap: 1.0rem 0;
    justify-content: center;
  }
  nav {
    height: 26rem;
    top: -25.9rem;
  }
  main {
    top: -25.9rem;
  }
  svg {
    width: 31.0rem;
    font-size: 80%;
  }
}
@media screen and (max-width: 729px) {
  svg {
    width: 24.0rem;
    font-size: 60%;
  }
}
@media screen and (max-width: 509px) {
  svg {
    font-size: 50%;
  }
  #scoring {
    font-size: 1.3rem;
  }
  #game-board button {
    width: 7.0rem;
    height: 7.0rem;
    font-size: 5.0rem;
  }
}
